<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://unpkg.com/axios@0.25.0/dist/axios.min.js"></script>
<div id="app">
    <form @submit.prevent="submitForm">
      <label for="name">Name:</label>
      <input type="text" id="name" v-model="name">
      
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email">
      
      <button type="submit">Submit</button>
    </form>
  </div>

<script>
new Vue({
  el: '#app',
  data: {
    name: '',
    email: ''
  },
  methods: {
    submitForm() {
      // Send form data to server
      console.log(this.name);
    //   axios.post('/submit-form', {
    //     name: this.name,
    //     email: this.email
    //   })
    //   .then(response => {
    //     // Handle response from server
    //     console.log(response.data);
    //   })
    //   .catch(error => {
    //     // Handle error from server
    //     console.log(error.response.data);
    //   });
    }
  }
});

</script>